.w3-light-grey .w3-content{
  max-width:1600px;
}
.w3-light-grey .w3-padding-24{
  font-family: sans-serif;
  color: darkblue;
}
.w3-third{
  font-family: sans-serif;
  color: darkblue;
}
.custom-container{
  font-family: sans-serif;
  color: darkblue;
}